<!DOCTYPE html>
<html lang="en">
<head>
    <title>Aktorsator</title>
</head>

    <body ng-app="AktorsatorApp">

        <div class="main" ng-controller="MainController">
            <h1>{{ title }}</h1>

            <div class="menu">

                <ul>
                    <li>clients</li>
                    <li>products</li>
                    <li>orders</li>
                </ul>

            </div>

            <div class="tables">

                <div class="clients">
                    <h2>Clients</h2>

                    <div ng-controller="ClientController as client_ctrl">

                        <form ng-submit="client_ctrl.submit()" name="clientForm">

                            <input type="hidden" ng-model="ctrl.client.securityNumber"/>
                            <div class="row">
                                <div>
                                    <div>
                                        <input type="text" ng-model="client_ctrl.client.firstName" id="fname" placeholder="First name" required/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div>
                                    <div>
                                        <input type="text" ng-model="client_ctrl.client.lastName" id="lname" placeholder="Last name" required/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div>
                                    <div>
                                        <input type="text" ng-model="client_ctrl.client.phoneNumber" id="phnumber" placeholder="Phone number"
                                               required ng-minlength="3"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div>
                                    <div>
                                        <input type="text" ng-model="client_ctrl.client.country" id="country" placeholder="Country" required/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div>
                                    <div>
                                        <input type="text" ng-model="client_ctrl.client.address" id="address" placeholder="Address" required/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div>
                                    <input type="submit" value="{{!client_ctrl.client.securityNumber ? 'Add' : 'Update'}}"  ng-disabled="clientForm.$invalid">
                                    <button type="button" ng-click="client_ctrl.reset()" ng-disabled="clientForm.$pristine">Reset Form</button>
                                </div>
                            </div>

                        </form>

                        <div>
                            <table>
                                <thead>
                                <tr>
                                    <th>Security number</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Phone number</th>
                                    <th>Country</th>
                                    <th>Address</th>
                                    <th width="20%"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="c in client_ctrl.clients">
                                    <td><span ng-bind="c.securityNumber"></span></td>
                                    <td><span ng-bind="c.firstName"></span></td>
                                    <td><span ng-bind="c.lastName"></span></td>
                                    <td><span ng-bind="c.phoneNumber"></span></td>
                                    <td><span ng-bind="c.country"></span></td>
                                    <td><span ng-bind="c.address"></span></td>
                                    <td>
                                        <button type="button" ng-click="client_ctrl.edit(c.securityNumber)">
                                            Edit
                                        </button>
                                        <button type="button" ng-click="client_ctrl.remove(c.securityNumber)">
                                            Remove
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>


                    <div class="products">
                        <h2>Products</h2>

                        <div ng-controller="ProductController as prod_ctrl">

                            <form ng-submit="prod_ctrl.submit()" name="productForm">

                                <input type="hidden" ng-model="prod_ctrl.product.barcode"/>
                                <div class="row">
                                    <div>
                                        <div>
                                            <input type="text" ng-model="prod_ctrl.product.name" id="prod_name" placeholder="Product name" required ng-minlength="2"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div>
                                        <div>
                                            <input type="text" ng-model="prod_ctrl.product.basePrice" id="basePrice" placeholder="Price (EUR)" required/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div>
                                        <div>
                                            <input type="text" ng-model="prod_ctrl.product.description" id="description" placeholder="Description" required ng-minlength="3"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div>
                                        <div>
                                            <input type="date" ng-model="prod_ctrl.product.releaseDate" value="{{ releaseDate | date: 'dd.MM.yyyy' }}" id="releaseDate" placeholder="Release date" required/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div>
                                        <input type="submit" value="{{!prod_ctrl.product.barcode ? 'Add' : 'Update'}}" ng-disabled="productForm.$invalid">
                                        <button type="button" ng-click="prod_ctrl.reset()" ng-disabled="productForm.$pristine">Reset Form</button>
                                    </div>
                                </div>

                            </form>

                            <div>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Barcode</th>
                                        <th>Product name</th>
                                        <th>Price (EUR)</th>
                                        <th>Description</th>
                                        <th>Release date</th>
                                        <th width="20%"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="p in prod_ctrl.products">
                                        <td><span ng-bind="p.barcode"></span></td>
                                        <td><span ng-bind="p.name"></span></td>
                                        <td><span>{{ p.basePrice | currency: "" : 2 }}</span></td>
                                        <td><span ng-bind="p.description"></span></td>
                                        <td><span>{{ p.releaseDate | date }}</span></td>
                                        <td>
                                            <button type="button" ng-click="prod_ctrl.edit(p.barcode)">
                                                Edit
                                            </button>
                                            <button type="button" ng-click="prod_ctrl.remove(p.barcode)">
                                                Remove
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>

                        <div class="orders">
                            <h2>Orders</h2>

                            <div ng-controller="OrderController as order_ctrl">

                                <form ng-submit="order_ctrl.submit()" name="orderForm">

                                    <input type="hidden" ng-model="order_ctrl.order.orderNr"/>
                                    <div class="row">
                                        <div>
                                            <div>
                                                <input type="text" ng-model="order_ctrl.order.client.securityNumber" id="order_client" placeholder="Client id" required/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div>
                                            <div>
                                                <input type="text" ng-model="order_ctrl.order.product.barcode" id="order_product" placeholder="Product id" required/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div>
                                            <input type="submit" value="{{!order_ctrl.order.orderNr ? 'Add' : 'Update'}}" ng-disabled="orderForm.$invalid">
                                            <button type="button" ng-click="order_ctrl.reset()" ng-disabled="orderForm.$pristine">Reset Form</button>
                                            <button type="button" ng-click="order_ctrl.updateOrders()">Update Orders</button>
                                        </div>
                                    </div>

                                </form>

                                <div>
                                    <table>
                                        <thead>
                                        <tr>
                                            <th><a href="#" ng-click="setOrder('orderNr')">Order number</a></th>
                                            <th>Client</th>
                                            <th>Product</th>
                                            <th>Converted price</th>
                                            <th><a href="#" ng-click="setOrder(['transactionDate', 'product', 'client'])">Transaction date</a></th>
                                            <th width="20%"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="o in order_ctrl.orders | orderBy : order">
                                            <td><span>{{ o.orderNr }}</span></td>
                                            <td><span>{{ o.client.representer }}</span></td>
                                            <td><span>{{ o.product.name }}</span></td>
                                            <td><span>{{ o.convertedPrice | currency: "" : 2 }}</span></td>
                                            <td><span>{{ o.transactionDate | date}}</span></td>
                                            <td>
                                                <button type="button" ng-click="order_ctrl.remove(o.orderNr)">
                                                    Remove
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-resource.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers/MainController.js"></script>

    <script src="js/controllers/ClientController.js"></script>
    <script src="js/services/ClientService.js"></script>

    <script src="js/controllers/ProductController.js"></script>
    <script src="js/services/ProductService.js"></script>

    <script src="js/controllers/OrderController.js"></script>
    <script src="js/services/OrderService.js"></script>

    </body>
</html>